html, body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: #252627;
    color: #F9F9F9;
}

.header-container {
    background: #1C1C1C;
    padding: 20px;
    color: #F9F9F9;
}

.header-brand {
    font-size: 30px;
    display: inline-block;
}

.header-dashboard {
    font-size: 18px;
    display: inline-block;
    float: right;
}

form {
    background-color: #F9F9F912;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 40px;
    color: #F9F9F9;
}

form input {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    background-color: #1C1C1C88;
    color: #F9F9F9;
}

form input:focus {
    background-color: #1C1C1C66;
}

.error {
    margin-bottom: 5px;
    color: #E63946;
    font-weight: bold;
}

form button {
    border: none;
    border-radius: 5px;
    background-color: #00A676;
    padding: 10px 20px;
    margin-top: 10px;
    color: #F9F9F9;
}

form button:hover {
    background-color: #11B787;
}

form button:disabled {
    background-color: #22C898;
}

.users-list-container {
    padding: 20px;
    text-align: center;
}

.users-list-user-card {
    background-color: #2191FB;
    display: inline-block;
    padding: 5px;
    margin: 10px;
}

.users-list-user-card table {
    width: 250px;
    text-align: left;
    border-collapse: collapse;
    table-layout: fixed;
    overflow: hidden;
}

.users-list-user-card table tr td {
    border: 2px solid #F9F9F9;
    padding: 10px;
    white-space: pre;
}

.link {
    text-decoration: none;
    color: #F9F9F9;
}

.sign-out {
    cursor: pointer;
}

.buttons-container {
    padding: 20px;
    text-align: center;
}

.buttons-container a {
    text-decoration: none;
    color: #F9F9F9;
    background-color: #2191FB;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px 0;
}

.users-list-user-edit {
    color: #F9F9F9;
    background-color: #00A676;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    margin: 10px 0;
}

.users-list-user-delete {
    color: #F9F9F9;
    background-color: #E63946;
    border: none;
    padding: 5px 10px;
    display: block;
    margin: 10px 0;
    width: 100%;
}