html, body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: #252627;
    color: #F9F9F9;
}

.header-container {
    background: #1C1C1C;
    padding: 20px;
    color: #F9F9F9;
}

.header-brand {
    font-size: 30px;
    display: inline-block;
}

.header-dashboard {
    font-size: 18px;
    display: inline-block;
    float: right;
}

form {
    background-color: #F9F9F912;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 40px;
    color: #F9F9F9;
}

form input {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    background-color: #1C1C1C88;
    color: #F9F9F9;
}

form input:focus {
    background-color: #1C1C1C66;
}

form label {
    display: block;
}

.error {
    margin-bottom: 5px;
    color: #E63946;
    font-weight: bold;
}

form button {
    border: none;
    border-radius: 5px;
    background-color: #00A676;
    padding: 10px 20px;
    margin-top: 10px;
    color: #F9F9F9;
}

form button:hover {
    background-color: #11B787;
}

form button:disabled {
    background-color: #22C898;
}

.list-container {
    padding: 20px;
    text-align: center;
}

.list-card {
    background-color: #2191FB;
    display: inline-block;
    padding: 5px;
    margin: 10px;
}

.list-card table {
    width: 250px;
    text-align: left;
    border-collapse: collapse;
    table-layout: fixed;
    overflow: hidden;
}

.list-card table tr td {
    border: 2px solid #F9F9F9;
    padding: 10px;
    white-space: pre;
}

.link {
    text-decoration: none;
    color: #F9F9F9;
}

.sign-out {
    cursor: pointer;
}

.buttons-container {
    padding: 20px;
    text-align: center;
}

.buttons-container a {
    text-decoration: none;
    color: #F9F9F9;
    background-color: #2191FB;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 10px;
}

.list-edit {
    color: #F9F9F9;
    background-color: #00A676;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    margin: 10px 0;
}

.list-delete {
    color: #F9F9F9;
    background-color: #E63946;
    border: none;
    padding: 5px 10px;
    display: block;
    margin: 10px 0;
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-file-upload-button {
    visibility: hidden;
}

input[type=file] {
    -moz-appearance: none;
}

.student-list-container {
    padding: 20px;
}

.student-card {
    border-radius: 10px;
    padding: 10px;
    background-color: #2191FB;
}

.student-card-title {
    font-size: 24px;
    font-weight: bold;
}

.student-card-title sub {
    font-size: 16px;
}

.student-card-detail {
    font-size: 16px;
}

.student-card-button {
    border: none;
    background-color: #1C1C1C;
    color: #F9F9F9;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
}

.student-card-button:disabled {
    background-color: #22C898;
}

.student-card {
    margin: 20px;
}

.questions-container {
    padding: 30px;
}

.question-block {
    padding: 20px;
    border: 2px solid #F9F9F988;
    border-radius: 10px;
    margin-bottom: 30px;
}

.question-question {
    border-bottom: 1px solid #F9F9F944;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.question-question div {
    font-size: 20px;
    margin: 10px;
}

.question-question img {
    width: 100%;
    height: auto;
}

.option-group img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

.question-block input[type=text] {
    border: 2px solid #F9F9F988;
    display: block;
    width: 95%;
    padding: 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    border-radius: 10px;
    color: #F9F9F9;
    background-color: #F9F9F911;
}

.question-block input[type=text]:focus {
    background-color: #F9F9F906;
    border: 2px solid #F9F9F9AA;
}

.question-block button {
    background-color: #2191FB;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: #F9F9F9;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}

.question-block button:disabled {
    opacity: 0.5;
}